h1, h2, h3, h4, h5, h6, strong{
	padding: 0;
    color:white;
    font-family: "Montserrat";
	
}


html {
	font-size: 50px;
	background-color: #1DB954;
	color: #999;
	height: fit-content;
	scroll-behavior: smooth;
}

a{
	text-decoration: none;
}

a:visited { 
	color: white; 
}

.LogIn{
	position: fixed;
	top:40%;
	left:50%;
	transform: translate(-50%, -50%);
}

.title{
	height:60px;
	width: 1000px;
	padding:50px;
}

.btn1{
	height:70px;
	width:300px;
	font-size: 25px;
	color: white;
	font-family: "Montserrat";
	border-radius: 40px;
	background-color: #191414;
	cursor: pointer;
	transition: 0.5s;
	border-width: 0px;

}

.btn1:hover {
	padding-right: 25px;
}

.socials{
	position: fixed;
	top:100px;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.socialbtn{
	height: 60px;
	width:	60px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	cursor: pointer;
	transition: 0.75s;

}

.socialbtn:hover {
	transform: translateX(10px);
}

#top{
	float: right;
	position: fixed;
	right:30px;
	top:120px;
	height: 60px;
	width:	60px;
	z-index: 1;
	transition: 0.5s;
}

#topPage{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	height: 90px;
}

#top:hover{
	transform:scale(1.15);
}

#btn2{
	height:50px;
	width:200px;
	font-size: 18px;
	color: white;
	font-family: "Montserrat";
	border-radius: 30px;
	cursor: pointer;
	transition: 0.5s;
	border-width: 0px;
	position: absolute;
	top: 0;
	right:0;
	margin-top: 18px;
	margin-right: 20px;
	
}

#btn2:hover {
	padding-right: 25px;
}

.UserInfo{
	text-align: center;
	margin-top: 150px;
}

#userName{
	margin-bottom: -30px;
}

#proPic{
	border-radius: 50%;
	margin-bottom: -50px;
	height: 200px;
	width: 200px;
}

.TopArtists{
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
	top:-75px;
	margin-bottom: -120px;
}

.TopSong{
	text-align: center;
	display: flex;
	justify-content: center;
	margin:auto;
	position: relative;
	top:-75px;
	margin-bottom:100px;
}


.History{
	text-align: center;
	position: relative;
	top:-250px;
	padding-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

}

.Child1{
	height: 275px;
	width: 350px;
	margin-left: 10px;
	margin-right: 10px;
	transition: 0.5s;
	margin-bottom: 30px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	background-color: #1e9b49;
}

.Child2{
	height: 325px;
	width: 350px;
	transition: 0.5s;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
	padding-top: 10px;
	background-color: #1e9b49;
	
}	

.Child1:hover{
	transform: scale(1.15);
}

.Child2:hover{
	transform: scale(1.15);
}

#text{
	
	font-size: 25px;
	width: 450px;
	margin-left:10px;
	margin-right:10px;
}


#songhis{
	font-size: 25px;
	margin-left:20px;
	margin-right:20px;	
}

#Pic{
	height:150px;
	width: 150px;
	margin-bottom: -30px;
	border-radius: 50%;
	margin-top: 20px;
	
}

.Content-Buttons{
	text-align: center;
	margin-top:30px;
	margin-bottom: -10px;
	
}

.conBut{
	background-color: #1e9b49;
	height: 60px;
	width: 300px;
	border-radius:30px;
	margin: 15px;
	color: white;
	font-family: "Montserrat";
	transition: 0.5s;
	border-width: 0;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.conBut:hover{
	padding-right: 25px;
	background-color: #191414;
}
